@model Assignment4.Models.SurveyDatas
@{
    ViewData["Title"] = "Charts";
}

    <head>
        <meta name="viewport" content="width=device-width" />
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawVisualization);

                function drawVisualization() {                     
                    var data = google.visualization.arrayToDataTable([
                        ['Reports', 'AR', 'CA', 'FL', 'GA', 'TX'],
                        ['Farm Business Income Statement ', 2165, 8938, 5282, 3998, 4150],
                        ['Farm Business Financial Ratios', 1135, 6120, 9599, 6268, 3288],
                        ['Farm Business Debt Repayment Capacity', 2157, 11167, 9587, 1807, 3297],
                        ['Government Payments', 1139, 3110, 6215, 5968, 2115],
                        ['Structural Characteristics', 3136, 10691, 2629, 4026, 3666]
                    ]);

                    var options = {
                        title: '',
                        vAxis: { title: 'Estimate' },
                        hAxis: { title: 'Reports' },
                        seriesType: 'bars',
                        series: { 5: { type: 'line' } }
                    };

                    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }
            </script>

        <title>Chart</title>
    </head>
                <body>

                    <div id="container">
                        <div id="mainpic">
                            <div>
                                <h1>Agriculture<span class="off">SurveyData</span></h1>
                                <h2>2018</h2>
                            </div>
                        </div>

                        <div id="menu">
                            <ul>
                                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="States">States</a></li>
                                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Categories">Category</a></li>
                                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Reports">Survey Data</a></li>
                                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Chart">Chart</a></li>
                                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>


                            </ul>
                        </div>
                        <div style="text-align:center">
                            
                            <b>Statewise estimates for various agriculture report </b>
                        </div>
                        <div>

                            <br /> <br />

                            <div id="chart_div" style="width: 900px; height: 500px;"></div>
                        </div>
</body>


