@{
    ViewData["Title"] = "Home Page";
}

<body>
    <h2 style="text-align:center;">
        Agricultural Resource Management System
    </h2>


    <div class="MyCenter" id="myCenter" style="font-family:sans-serif; align-content:center">



        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>

        <a asp-area="" asp-controller="Home" asp-action="Categories">Category</a>

        <a asp-area="" asp-controller="Home" asp-action="Reports">Report</a>

        <a asp-area="" asp-controller="Home" asp-action="States">States</a>

        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        </div>
</body>
