@model Assignment4.Models.Reports
@{
    ViewData["Title"] = "Reports";
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div id="container">
        <div id="mainpic">
            <div>
                <h1>Agriculture<span class="off">Reports</span></h1>
                <!-- <h2>States and Categories</h2> -->
            </div>
        </div>

        <div id="menu">
            <ul>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Categories">Category</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Reports">Report</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="States">States</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Chart">Chart</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>


            </ul>
        </div>
        
        <div style="text-align:center">
            
            <b>Reports are displayed in the table below</b>
        </div>
        <div>
            <br /> <br />

            <table class="MyTable">
                <tr>
                    <th>Report Id </th>
                    <th>Report Name </th>
                    <th>Description Name </th>

                </tr>
        </div>
        @foreach (var item in Model.data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.desc)
                </td>
            </tr>
        }
        </table>

        <br /> <br />
        <script>
            alertDbSave(@ViewBag.dbSuccessComp);
        </script>
    </div>
</body>

