@model Assignment4.Models.Reports
@{
    ViewData["Title"] = "Reports";
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div id="container">
        <div id="mainpic">
            <div>
                <h1>Agriculture<span class="off">Survey Data</span></h1>
                <h2>2018</h2> 
            </div>
        </div>

        <div id="menu">
            <ul>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="States">States</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Categories">Category</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Reports">Survey Data</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Chart">Chart</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>


            </ul>
        </div>
        
        <div style="text-align:center">
            
            <b>Survey Data will be displayed below based on Report Name</b>
        </div>
        <div>
            <br /> <br />

            @using (Html.BeginForm("SurveyData", "Home", FormMethod.Post))
            {
                <label for="text">Enter Report Name from below list:</label>
                <input type="text" class="form-control" id="text" name="reportName" style="width:auto; border-radius:12px; height:30px; align-content:center">
                <br />
                <div>

                    <input type="submit" class="MyButton" value="Get Survey Data">

                </div>
            }

            <table class="MyTable">
                <tr>
                    <th>Report Id </th>
                    <th>Report Name </th>                    
                </tr>
        </div>
        @foreach (var item in Model.data)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>

            </tr>
        }
        </table>

        <br /> <br />
        <script>
            alertDbSave(@ViewBag.dbSuccessComp);
        </script>
    </div>
</body>

