@model Assignment4.Models.States
@{
    ViewData["Title"] = "States";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <script src="MyJavascript.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <script src="~/js/Custom.js"></script>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <title> States </title>
</head>
<body>
    <div id="container">
        <div id="mainpic">
            <div>
                <h1>Agriculture<span class="off">SurveyData</span></h1>
                <h2>2018</h2>
            </div>
        </div>

        <div id="menu">
            <ul>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="States">States</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Categories">Category</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Reports">Survey Data</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="Chart">Chart</a></li>
                <li class="menuitem"><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>


            </ul>
        </div>

        <div style="text-align:center">
            <!--<h2>States</h2>-->
            <b>States are displayed in the table below</b>
        </div>
        <div>

            <br /> <br />


            <table class="MyTable">
                <tr>
                    <th>State Id </th>
                    <th>State Code </th>
                    <th>State Name </th>

                </tr>

                @foreach (var item in Model.data)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                    </tr>
                }

            </table>


            <br /><br />

            <script>
                alertDbSave(@ViewBag.dbSuccessComp);
            </script>

            <div style="text-align:center">
                <a id="dbopt" asp-controller="Home" asp-action="SaveStates">
                    <input type="button" class="MyButton" value="Save States">
                </a>
            </div>

            <style>

                .Mybutton {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    cursor: pointer;
                    border-radius: 12px;
                }
            </style>


        </div>
    </div>
</body>